<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <title>API for Conflux</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <main id="main-container">
        <section class="menu">
            <nav></nav>
        </section>
        <section class="section-api main-title">
            <h1>Conflux API</h1>
            <pre>https://rocky-temple-28113.herokuapp.com</pre>

            <hr />
            <div class="suggested-api">
                <p>List of suggested API's</p>
                <ul class="api-lists">
                    <li><a href="/users/docs">Users</a></li>
                    <li><a href="/establishment/docs">Establishment</a></li>
                    <li><a href="/owners/docs">Owners</a></li>
                    <li><a href="/sues/docs">Sues</a></li>
                    <li><a href="/managers/docs">Managers</a></li>
                </ul>
            </div>
        </section>
        <section class="section-api schemes">
            <div class="container-entity">
                <h2>Establishment</h2>
                <ul class="list-entity">
                    <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/establishment/search-by-id</h3>
                            <p>Search establishment by establishment's id</p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>limit</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>category</td>
                                        <td>i.e. Pharmacy</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>location</td>
                                        <td>{ longitude: //.. , latitude: //.. }</td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <!-- <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/establishment/search-by-category</h3>
                            <p>
                                Search establishment by establishment's category and return a
                                sorted list
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>category</td>
                                        <td>i.e. Pharmacy</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>location</td>
                                        <td>{ longitude: //.. , latitude: //.. }</td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { total: 1, values: [{...}] }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/establishment/radio-search</h3>
                            <p>
                                Search establishment by establishment's category
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>radius</td>
                                        <td>Number in meters</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>maxMatches</td>
                                        <td>Maximum number of establishments found</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>location</td>
                                        <td>{ longitude: //.. , latitude: //.. }</td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { total: 1, values: [{...}] }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li> -->

                    <li class="item-api get">
                        <div class="item-api-content">
                            <span class="method">GET</span>
                            <h3>/establishment/</h3>
                            <p>
                                Search establishment by establishment's category
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>Lat</td>
                                        <td>Latitude</td>
                                        <td>URL param</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>lng</td>
                                        <td>Longitude</td>
                                        <td>URL Param</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>radius</td>
                                        <td>i.e 1 Km</td>
                                        <td>URL Param</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>category</td>
                                        <td>i.e Pharmacy</td>
                                        <td>URL Param</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            {
                                                "total": 2,
                                                "category": "Supermarket",
                                                "origin": {
                                                    "longitude": "2.44",
                                                    "latitude": "-76.61"
                                                },
                                                "radius": 8,
                                                "units": "km",
                                                "values": [
                                                    {
                                                        "_id": "5e9e0f32fc34ad00177b7968",
                                                        "name": "Establecimiento para Ibarra",
                                                        "daysClosed": "sa-su",
                                                        "endHour": "20:00",
                                                        "news": [
                                                            "Mensajes para la comunidad"
                                                        ],
                                                        "status": "empty",
                                                        "people_inside": 1,
                                                        "location": {
                                                            "longitude": -76.606009,
                                                            "latitude": 2.443483,
                                                            "city": "Popayán",
                                                            "stateCode": "CA",
                                                            "postalCode": "111011",
                                                            "countryCode": "CO",
                                                            "type": "Supermarket",
                                                            "distance_to_origin": 0.5886798658624209,
                                                            "units": "km"
                                                        }
                                                    },
                                                    {
                                                        // ...
                                                    }
                                                ]
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api get">
                        <div class="item-api-content">
                            <span class="method">GET</span>
                            <h3>/establishment/location</h3>
                            <p>
                                Get all the locations for the stablishment based on a specific
                                category
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>category</td>
                                        <td>i.e. Pharmacy</td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "location": [{...}] }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api get">
                        <div class="item-api-content">
                            <span class="method">GET</span>
                            <h3>/establishment/category</h3>
                            <p>
                                Get all the establishment category
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "category": [{...}] }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/establishment/new</h3>
                            <p>
                                Create a new establishment
                            </p>
                            <span class="icn">private</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>name</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>category</td>
                                        <td>{ name: //.. }</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>location</td>
                                        <td>{ longitude: //.. , latitude: //.. } (Full Json below in /new-location</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>daysClosed</td>
                                        <td>i.e "Sa-Su-Mo"</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>startHour</td>
                                        <td>i.e "08:30"</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>endHour</td>
                                        <td>i.e "20:00"</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Array</td>
                                        <td>news</td>
                                        <td>[".."]</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>token</td>
                                        <td>Beare Token</td>
                                        <td>Header</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "success": true, "establishment": {...}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/establishment/new-location</h3>
                            <p>
                                Create a new location
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>longitude</td>
                                        <td>(required)</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Number</td>
                                        <td>latitude</td>
                                        <td>(required)</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>city</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>stateCode</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>postalCode</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>countryCode</td>
                                        <td>i.e. FR</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>street</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>type</td>
                                        <td>i.e Pharmacy</td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "success": true, "location": {...}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api put">
                        <div class="item-api-content">
                            <span class="method">PUT</span>
                            <h3>/establishment/update</h3>
                            <p>Update one o many fields on the establishment model.</p>
                            <span class="icn">private</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>id</td>
                                        <td>Establishment's id</td>
                                        <td>Param</td>
                                    </tr>
                                    <tr class="content">
                                        <td>()</td>
                                        <td>data_to_update</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            {
                                            "success": true,
                                            "message": "Establishment successfully updated",
                                            "establishment": {...}
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api delete">
                        <div class="item-api-content">
                            <span class="method">DELETE</span>
                            <h3>/establishment/remove</h3>
                            <p>Delete an establishment</p>
                            <span class="icn">private</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>id</td>
                                        <td>Establishment's id</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>token</td>
                                        <td></td>
                                        <td>Bearer Header</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            {
                                            "success": true,
                                            "establishment": {...}
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </main>
</body>

</html>