<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <title>API for Conflux</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main id="main-container">
      <section class="menu">
        <nav></nav>
      </section>
      <section class="section-api main-title">
        <h1>Conflux API</h1>
        <pre>https://rocky-temple-28113.herokuapp.com</pre>

        <hr />
        <div class="suggested-api">
          <p>List of suggested API's</p>
          <ul class="api-lists">
            <li><a href="/users/docs">Users</a></li>
            <li><a href="/establishment/docs">Establishment</a></li>
            <li><a href="/owners/docs">Owners</a></li>
            <li><a href="/sues/docs">Sues</a></li>
            <li><a href="/managers/docs">Managers</a></li>
          </ul>
        </div>
      </section>
      <section class="section-api schemes">
        <div class="container-entity">
          <h2>Managers</h2>
          <ul class="list-entity">
            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/managers/signup</h3>
                <p>Register a new user manager</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>userName</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>email</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>password</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "user": {..},
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/managers/signin</h3>
                <p>Signin as user manager session</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>email</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>password</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        { 
                          "success": true, 
                          "id_manager":
                          "5e8e26d30e34qfa5a74461a6e", 
                          "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....",
                          "expiration": 3600, 
                          "unit": "seconds" 
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api get">
              <div class="item-api-content">
                <span class="method">GET</span>
                <h3>/managers/</h3>
                <p>Signin as user manager session</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td>(required)</td>
                      <td>Bearer Header</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "email": ..
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
