<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <title>API for Conflux</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main id="main-container">
      <section class="menu">
        <nav></nav>
      </section>
      <section class="section-api main-title">
        <h1>Conflux API</h1>
        <pre>https://rocky-temple-28113.herokuapp.com</pre>

        <hr />
        <div class="suggested-api">
          <p>List of suggested API's</p>
          <ul class="api-lists">
            <li><a href="/users/docs">Users</a></li>
            <li><a href="/establishment/docs">Establishment</a></li>
            <li><a href="/owners/docs">Owners</a></li>
            <li><a href="/sues/docs">Sues</a></li>
            <li><a href="/managers/docs">Managers</a></li>
          </ul>
        </div>
      </section>
      <section class="section-api schemes">
        <div class="container-entity">
          <h2>Owners</h2>
          <ul class="list-entity">
            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/owners/signup</h3>
                <p>Register a new user owner</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>userName</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>email</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>password</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "user": {..},
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/owners/signin</h3>
                <p>Signin as user owner session</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>email</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>password</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "id_owner": "5e8e26d30ebcfa5a74461a6e",
                          "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....",
                          "expiration": 3600,
                          "unit": "seconds"
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api get">
              <div class="item-api-content">
                <span class="method">GET</span>
                <h3>/owners/</h3>
                <p>Signin as user owner session</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td>(required)</td>
                      <td>Bearer Header</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "establishments": [
                              {
                                  "id": "5e8e3c301c4d0b45f48bab30",
                                  "name": "Boulangerie _ Lafayette des Halles x2",
                                  "qr_code": ""
                              },
                              {
                                  "id": "5e8e3c3c1c4d0b45f48bab33",
                                  "name": "Boulangerie _ Lafayette des Halles x3",
                                  "qr_code": "5e96395cbea4ec278cc45d43"
                              },
                              {
                                  "id": "5e934bd8972b9e58509679e5",
                                  "name": "Monoprix_ Les Halles",
                                  "qr_code": "5e963987bea4ec278cc45d44"
                              }
                          ],
                          "email": "camilo@arguello.fr"
                      }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/owners/qr-code</h3>
                <p>Create a new QR Code</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id</td>
                      <td>Establishment's id</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td>(required)</td>
                      <td>Bearer Header</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        { "success": true, "id_establishment": [
                        "5e8e3c301c4d0b45f48bab30", "5e8e3c3c1c4d0b45f48bab33",
                        "5e934bd8972b9e58509679e5" ], "id_owner":
                        "5e8e26d30ebcfa5a74461a6e", "token": "Bearer
                        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOGUyNmQzMGViY2ZhNWE3NDQ2MWE2ZSIsImlhdCI6MTU4NjgwOTQ5NSwiZXhwIjoxNTg2ODEzMDk1fQ.qmoBpcYG0GMSDZjGm3MztGxsm-dVmmT-TzbU1EnoOp8",
                        "expiration": 3600, "unit": "seconds" }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api put">
              <div class="item-api-content">
                <span class="method">PUT</span>
                <h3>/owners/password</h3>
                <p>Update the current user password</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>password</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td>(required)</td>
                      <td>Bearer Header</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "message": "Owner successfully updated",
                          "raw": {
                              "user_validation": false,
                              "_id": "5e8e26d30ebcfa5a74461a6e",
                              "email": "camilo@arguello.fr",
                              "password": "$2a$10$pnE0qWUhX8F4wQ00l3xBSOInk5gyvItu6n2Ed857ZVKt/3npYV3Ue",
                              "__v": 0
                          }
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api get">
              <div class="item-api-content">
                <span class="method">GET</span>
                <h3>/owners/establishment-by-id/?id=ID_ESTABLISHMENT</h3>
                <p>Get establishment by id</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_establishment</td>
                      <td>(required)</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "value": {
                              "_id": "5e934bd8972b9e58509679e5",
                              "name": "Monoprix_ Les Halles",
                              "daysClosed": "",
                              "endHour": "21:00",
                              "news": [
                                  ""
                              ],
                              "status": "empty",
                              "people_inside": 1,
                              "category": "grocery",
                              "location": {
                                  "longitude": 48.8619896,
                                  "latitude": 2.3466931,
                                  "city": "Paris",
                                  "stateCode": "75",
                                  "postalCode": "75001",
                                  "countryCode": "FR",
                                  "street": "101 Rue Berger",
                                  "type": "grocery"
                              }
                          }
                      }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>


            <li class="item-api delete">
              <div class="item-api-content">
                <span class="method">DELETE</span>
                <h3>/owners/remove</h3>
                <p>Delete an owner based on its id</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>userId</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td></td>
                      <td>Bearer Header</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "result": {..}
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
