<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <title>API for Conflux</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <main id="main-container">
        <section class="menu">
            <nav></nav>
        </section>
        <section class="section-api main-title">
            <h1>Conflux API</h1>
            <pre>https://rocky-temple-28113.herokuapp.com</pre>

            <hr />
            <div class="suggested-api">
                <p>List of suggested API's</p>
                <ul class="api-lists">
                    <li><a href="/users/docs">Users</a></li>
                    <li><a href="/establishment/docs">Establishment</a></li>
                    <li><a href="/owners/docs">Owners</a></li>
                    <li><a href="/sues/docs">Sues</a></li>
                    <li><a href="/managers/docs">Managers</a></li>
                </ul>
            </div>
        </section>
        <section class="section-api schemes">
            <div class="container-entity">
                <h2>Sues</h2>
                <ul class="list-entity">
        
                    <li class="item-api get">
                        <div class="item-api-content">
                            <span class="method">GET</span>
                            <h3>/sues/</h3>
                            <p>
                                Get all the sues
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "total": .., "values": [{...}] }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                    <li class="item-api post">
                        <div class="item-api-content">
                            <span class="method">POST</span>
                            <h3>/sues/new</h3>
                            <p>
                                Create a new sue
                            </p>
                            <span class="icn">public</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>sue_category</td>
                                        <td>Sue's category i.e. Influx</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>Object</td>
                                        <td>location</td>
                                        <td>i.e { longitude : //.. , latitude: //.. } </td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>title</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>description</td>
                                        <td></td>
                                        <td>Body</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            { "success": true, "sue": {...}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

    
                    <li class="item-api delete">
                        <div class="item-api-content">
                            <span class="method">DELETE</span>
                            <h3>/establishment/remove</h3>
                            <p>Delete an establishment</p>
                            <span class="icn">private</span>
                        </div>
                        <div class="item-api-more">
                            <div class="title-parameters">
                                <h3>Parameters</h3>
                            </div>
                            <div class="parameters-container">
                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Medium</th>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>id_sue</td>
                                        <td>Sue's id</td>
                                        <td>Body</td>
                                    </tr>
                                    <tr class="content">
                                        <td>String</td>
                                        <td>token</td>
                                        <td></td>
                                        <td>Bearer Header</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="title-response">
                                <h3>Response</h3>
                            </div>
                            <div class="response-container">
                                <table>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="content">
                                        <td>200</td>
                                        <td class="code">
                                            {
                                            "success": true,
                                            "result": {...}
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
    </main>
</body>

</html>