<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <title>API for Conflux</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main id="main-container">
      <section class="menu">
        <nav></nav>
      </section>
      <section class="section-api main-title">
        <h1>Conflux API</h1>
        <pre>https://rocky-temple-28113.herokuapp.com</pre>

        <hr />
        <div class="suggested-api">
          <p>List of suggested API's</p>
          <ul class="api-lists">
            <li><a href="/users/docs">Users</a></li>
            <li><a href="/establishment/docs">Establishment</a></li>
            <li><a href="/owners/docs">Owners</a></li>
            <li><a href="/sues/docs">Sues</a></li>
            <li><a href="/managers/docs">Managers</a></li>
          </ul>
        </div>
      </section>
      <section class="section-api schemes">
        <div class="container-entity">
          <h2>User</h2>
          <ul class="list-entity">
            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/users/new</h3>
                <p>Create a new user</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>user_code</td>
                      <td>id unique identificator device</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        { "success": true, "user": { "user_validation": false,
                        "status": "healthy", "_id": "5e94b7d537de7200178b5c47",
                        "user_code": "asiu2309asldjqw230", "__v": 0 } }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api put">
              <div class="item-api-content">
                <span class="method">PUT</span>
                <h3>/users/validation</h3>
                <p>Validate whether is a valid user</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_person</td>
                      <td></td>
                      <td>Params</td>
                    </tr>
                    <tr class="content">
                      <td>Boolean</td>
                      <td>user_validation</td>
                      <td>value to change</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        { "success": true, "message": "User successfully
                        updated", "user": { "user_validation": false, "status":
                        "healthy", "_id": "5e94b7d537de7200178b5c47",
                        "user_code": "asiu2309asldjqw230", "__v": 0 } }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api post">
              <div class="item-api-content">
                <span class="method">POST</span>
                <h3>/users/register-visit</h3>
                <p>Register one visit, scanning a qr code</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_person</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_establishment</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>Object</td>
                      <td>location</td>
                      <td>
                        i.e { "longitude": 12.123, "latitude" : 12.123, ... }
                        (See /new-location)
                      </td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>date</td>
                      <td>as Timeunix or Time epoch i.e 1587685431</td>
                      <td>Body</td>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>token</td>
                      <td>i.e Bearer isAsdAoAITWPZSahYWjgKweXYWOsad ...</td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "message": "Visit registered correctly",
                          "locationA": {
                            "longitude": ..,
                            "latitude": ..
                          },
                          "locationB": {
                            "longitude": ..,
                            "latitude": ..
                          },
                          distance: ..,
                          unit: "km", 
                          date_in: ..
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api get">
              <div class="item-api-content">
                <span class="method">GET</span>
                <h3>/users/visits</h3>
                <p>Get all my visits</p>
                <span class="icn">public</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_person</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        { "success": true, "total": 0, "values": [] }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

            <li class="item-api delete">
              <div class="item-api-content">
                <span class="method">DELETE</span>
                <h3>/users/remove</h3>
                <p>Delete an user based on its id</p>
                <span class="icn">private</span>
              </div>
              <div class="item-api-more">
                <div class="title-parameters">
                  <h3>Parameters</h3>
                </div>
                <div class="parameters-container">
                  <table>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Medium</th>
                    </tr>
                    <tr class="content">
                      <td>String</td>
                      <td>id_person</td>
                      <td></td>
                      <td>Body</td>
                    </tr>
                  </table>
                </div>
                <div class="title-response">
                  <h3>Response</h3>
                </div>
                <div class="response-container">
                  <table>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                    <tr class="content">
                      <td>200</td>
                      <td class="code">
                        {
                          "success": true,
                          "result": {..}
                        }
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
