<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title> </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      #outlook a {
        padding: 0;
      }

      .ReadMsgBody {
        width: 100%;
      }

      .ExternalClass {
        width: 100%;
      }

      .ExternalClass * {
        line-height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      table,
      td {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }

      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
      }

      p {
        display: block;
        margin: 13px 0;
      }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
      @media only screen and (max-width: 480px) {
        @-ms-viewport {
          width: 320px;
        }

        @viewport {
          width: 320px;
        }
      }
    </style>
    <!--<![endif]-->
    <!--[if mso]>
      <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG />
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->
    <!--[if lte mso 11]>
      <style type="text/css">
        .outlook-group-fix {
          width: 100% !important;
        }
      </style>
    <![endif]-->
    <!--[if !mso]><!-->
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      @import url(
        https://fonts.googleapis.com/css?family=Ubuntu:300,
        400,
        500,
        700
      );
      @import url(https://fonts.googleapis.com/css?family=Cabin:400, 700);
    </style>
    <!--<![endif]-->
    <style type="text/css">
      @media only screen and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
          max-width: 100%;
        }

        .mj-column-per-33 {
          width: 33.333333% !important;
          max-width: 33.333333%;
        }
      }
    </style>
    <style type="text/css">
      @media only screen and (max-width: 480px) {
        table.full-width-mobile {
          width: 100% !important;
        }

        td.full-width-mobile {
          width: auto !important;
        }
      }
    </style>
    <style type="text/css">
      .hide_on_mobile {
        display: none !important;
      }

      @media only screen and (min-width: 480px) {
        .hide_on_mobile {
          display: block !important;
        }
      }

      .hide_section_on_mobile {
        display: none !important;
      }

      @media only screen and (min-width: 480px) {
        .hide_section_on_mobile {
          display: table !important;
        }
      }

      .hide_on_desktop {
        display: block !important;
      }

      @media only screen and (min-width: 480px) {
        .hide_on_desktop {
          display: none !important;
        }
      }

      .hide_section_on_desktop {
        display: table !important;
      }

      @media only screen and (min-width: 480px) {
        .hide_section_on_desktop {
          display: none !important;
        }
      }

      [owa] .mj-column-per-100 {
        width: 100% !important;
      }

      [owa] .mj-column-per-50 {
        width: 50% !important;
      }

      [owa] .mj-column-per-33 {
        width: 33.333333333333336% !important;
      }

      p {
        margin: 0px;
      }

      @media only print and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
        }

        .mj-column-per-40 {
          width: 40% !important;
        }

        .mj-column-per-60 {
          width: 60% !important;
        }

        .mj-column-per-50 {
          width: 50% !important;
        }

        mj-column-per-33 {
          width: 33.333333333333336% !important;
        }
      }
    </style>
  </head>

  <body style="background-color: #ffffff;">
    <div style="background-color: #ffffff;">
      <table
        align="center"
        background="./images/main-clientes.png"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="
          background: #ffffff url(./images/main-clientes.png) top center / cover
            repeat;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td>
              <!--[if mso | IE]>
              <v:rect  style="mso-width-percent:1000;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
                <v:fill  origin="0.5, 0" position="0.5, 0" src="http://www.altamiragroup.com.ar/images/fondos/main-clientes.png" color="#FFFFFF" type="tile" />
                <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                  <table
                    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                    >
                    <tr>
                      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                        <![endif]-->
              <div style="margin: 0px auto; max-width: 600px;">
                <div style="line-height: 0; font-size: 0;">
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="width: 100%;"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            border: 0px #ffffff solid;
                            direction: ltr;
                            font-size: 0px;
                            padding: 9px 0px 9px 0px;
                            text-align: center;
                            vertical-align: top;
                          "
                        >
                          <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td
                                          class="" style="vertical-align:top;width:600px;"
                                          >
                                          <![endif]-->
                          <div
                            class="mj-column-per-100 outlook-group-fix"
                            style="
                              font-size: 13px;
                              text-align: left;
                              direction: ltr;
                              display: inline-block;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="vertical-align: top;"
                              width="100%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      background: transparent;
                                      font-size: 0px;
                                      padding: 7px 7px 7px 7px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.5;
                                        text-align: center;
                                        color: #000000;
                                      "
                                    >
                                      <h2
                                        style="
                                          text-align: center;
                                          line-height: 100%;
                                        "
                                      >
                                        <span
                                          style="
                                            font-size: 36px;
                                            color: #e03e2d;
                                          "
                                          >&#xA1;Art&#xED;culos
                                          destacados!</span
                                        >
                                      </h2>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      font-size: 0px;
                                      word-break: break-word;
                                    "
                                  >
                                    <!--[if mso | IE]>
                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td height="25" style="vertical-align:top;height:25px;">
                                                          <![endif]-->
                                    <div style="height: 25px;">
                                      &#xA0;
                                    </div>
                                    <!--[if mso | IE]>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <![endif]-->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--[if mso | IE]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--[if mso | IE]>
                      </td>
                    </tr>
                  </table>
                </v:textbox>
              </v:rect>
              <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
      <table
        align="center"
        background="http://www.altamiragroup.com.ar/images/fondos/main-clientes.png"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="
          background: #ffffff
            url(http://www.altamiragroup.com.ar/images/fondos/main-clientes.png)
            top center / cover repeat;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td>
              <!--[if mso | IE]>
              <v:rect  style="mso-width-percent:1000;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
                <v:fill  origin="0.5, 0" position="0.5, 0" src="http://www.altamiragroup.com.ar/images/fondos/main-clientes.png" color="#FFFFFF" type="tile" />
                <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                  <table
                    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                    >
                    <tr>
                      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                        <![endif]-->
              <div style="margin: 0px auto; max-width: 600px;">
                <div style="line-height: 0; font-size: 0;">
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="width: 100%;"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            direction: ltr;
                            font-size: 0px;
                            padding: 100px 0px 100px 0px;
                            text-align: center;
                            vertical-align: top;
                          "
                        >
                          <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td
                                          class="" style="vertical-align:top;width:200px;"
                                          >
                                          <![endif]-->
                          <div
                            class="mj-column-per-33 outlook-group-fix"
                            style="
                              font-size: 13px;
                              text-align: left;
                              direction: ltr;
                              display: inline-block;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="vertical-align: top;"
                              width="100%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      font-size: 0px;
                                      padding: 0px 0px 0px 0px;
                                      word-break: break-word;
                                    "
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td style="width: 200px;">
                                            <img
                                              height="auto"
                                              src="http://www.altamiragroup.com.ar/images/articulos/20/2278-00.jpg"
                                              style="
                                                border: 0;
                                                display: block;
                                                outline: none;
                                                text-decoration: none;
                                                height: auto;
                                                width: 100%;
                                                font-size: 13px;
                                              "
                                              width="200"
                                            />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <strong
                                          ><span style="font-size: 12px;"
                                            >HORQUILLA DE EMBRAGUE</span
                                          ></strong
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <span style="font-size: 14px;"
                                          >F-100 MAX ECONO/FAIRLANE</span
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 11px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>C&#xD3;DIGO</strong>:
                                          2278/00</span
                                        >
                                      </div>
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>PRECIO</strong>: $ 0000</span
                                        >
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--[if mso | IE]>
                                        </td>
                                        <td
                                          class="" style="vertical-align:top;width:200px;"
                                          >
                                          <![endif]-->
                          <div
                            class="mj-column-per-33 outlook-group-fix"
                            style="
                              font-size: 13px;
                              text-align: left;
                              direction: ltr;
                              display: inline-block;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="vertical-align: top;"
                              width="100%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      font-size: 0px;
                                      padding: 0px 0px 0px 0px;
                                      word-break: break-word;
                                    "
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td style="width: 200px;">
                                            <img
                                              height="auto"
                                              src="http://www.altamiragroup.com.ar/images/articulos/20/2278-00.jpg"
                                              style="
                                                border: 0;
                                                display: block;
                                                outline: none;
                                                text-decoration: none;
                                                height: auto;
                                                width: 100%;
                                                font-size: 13px;
                                              "
                                              width="200"
                                            />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <strong
                                          ><span style="font-size: 12px;"
                                            >HORQUILLA DE EMBRAGUE</span
                                          ></strong
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <span style="font-size: 14px;"
                                          >F-100 MAX ECONO/FAIRLANE</span
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 11px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>C&#xD3;DIGO</strong>:
                                          2278/00</span
                                        >
                                      </div>
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>PRECIO</strong>: $ 0000</span
                                        >
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--[if mso | IE]>
                                        </td>
                                        <td
                                          class="" style="vertical-align:top;width:200px;"
                                          >
                                          <![endif]-->
                          <div
                            class="mj-column-per-33 outlook-group-fix"
                            style="
                              font-size: 13px;
                              text-align: left;
                              direction: ltr;
                              display: inline-block;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="vertical-align: top;"
                              width="100%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      font-size: 0px;
                                      padding: 0px 0px 0px 0px;
                                      word-break: break-word;
                                    "
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td style="width: 200px;">
                                            <img
                                              height="auto"
                                              src="http://www.altamiragroup.com.ar/images/articulos/20/2278-00.jpg"
                                              style="
                                                border: 0;
                                                display: block;
                                                outline: none;
                                                text-decoration: none;
                                                height: auto;
                                                width: 100%;
                                                font-size: 13px;
                                              "
                                              width="200"
                                            />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <strong
                                          ><span style="font-size: 12px;"
                                            >HORQUILLA DE EMBRAGUE</span
                                          ></strong
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 5px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <p style="text-align: center;">
                                        <span style="font-size: 14px;"
                                          >F-100 MAX ECONO/FAIRLANE</span
                                        >
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 10px 25px;
                                      padding-top: 10px;
                                      padding-right: 10px;
                                      padding-bottom: 10px;
                                      padding-left: 10px;
                                      word-break: break-word;
                                    "
                                  >
                                    <p
                                      style="
                                        border-top: solid 1px #000000;
                                        font-size: 1;
                                        margin: 0px auto;
                                        width: 100%;
                                      "
                                    ></p>
                                    <!--[if mso | IE]>
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="
                                          border-top: solid 1px #000000;
                                          font-size: 1;
                                          margin: 0px auto;
                                          width: 180px;
                                        "
                                        role="presentation"
                                        width="180px"
                                      >
                                        <tr>
                                          <td
                                            style="height: 0; line-height: 0;"
                                          >
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    style="
                                      background: #ffffff;
                                      font-size: 0px;
                                      padding: 5px 5px 11px 5px;
                                      word-break: break-word;
                                    "
                                  >
                                    <div
                                      style="
                                        font-family: Ubuntu, Helvetica, Arial,
                                          sans-serif;
                                        font-size: 11px;
                                        line-height: 1.2;
                                        text-align: left;
                                        color: #000000;
                                      "
                                    >
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>C&#xD3;DIGO</strong>:
                                          2278/00</span
                                        >
                                      </div>
                                      <div style="text-align: center;">
                                        <span style="font-size: 16px;"
                                          ><strong>PRECIO</strong>: $ 0000</span
                                        >
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--[if mso | IE]>
                                        </td>
                                      </tr>
                                    </table>
                                    <![endif]-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--[if mso | IE]>
                      </td>
                    </tr>
                  </table>
                </v:textbox>
              </v:rect>
              <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #ededed; background-color: #ededed; width: 100%;"
      >
        <tbody>
          <tr>
            <td>
              <!--[if mso | IE]>
              <table
                align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                >
                <tr>
                  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
              <div style="margin: 0px auto; max-width: 600px;">
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="width: 100%;"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 9px 0px 9px 0px;
                          text-align: center;
                          vertical-align: top;
                        "
                      >
                        <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td
                                    class="" style="vertical-align:top;width:600px;"
                                    >
                                    <![endif]-->
                        <div
                          class="mj-column-per-100 outlook-group-fix"
                          style="
                            font-size: 13px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            style="vertical-align: top;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="left"
                                  style="
                                    font-size: 0px;
                                    padding: 15px 15px 15px 15px;
                                    word-break: break-word;
                                  "
                                >
                                  <div
                                    style="
                                      font-family: Ubuntu, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 11px;
                                      line-height: 1.5;
                                      text-align: left;
                                      color: #000000;
                                    "
                                  >
                                    <p style="text-align: center;">
                                      <span style="font-size: 18px;"
                                        >Le recordamos que en nuestra
                                        p&#xE1;gina web podr&#xE1; conseguir
                                        toda la informaci&#xF3;n de su cuenta
                                        corriente, realizar pedidos y mucho
                                        m&#xE1;s.</span
                                      >
                                    </p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]>
                                  </td>
                                </tr>
                              </table>
                              <![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #ededed; background-color: #ededed; width: 100%;"
      >
        <tbody>
          <tr>
            <td>
              <!--[if mso | IE]>
              <table
                align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                >
                <tr>
                  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
              <div style="margin: 0px auto; max-width: 600px;">
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="width: 100%;"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 9px 0px 9px 0px;
                          text-align: center;
                          vertical-align: top;
                        "
                      >
                        <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td
                                    class="" style="vertical-align:top;width:199.999998px;"
                                    >
                                    <![endif]-->
                        <div
                          class="mj-column-per-33 outlook-group-fix"
                          style="
                            font-size: 13px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            style="vertical-align: top;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 0px 0px 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="
                                      border-collapse: collapse;
                                      border-spacing: 0px;
                                    "
                                  >
                                    <tbody>
                                      <tr>
                                        <td style="width: 143px;">
                                          <a
                                            href="http://www.altamiragroup.com.ar/destacados"
                                            target="_blank"
                                          >
                                            <img
                                              height="auto"
                                              src="http://www.altamiragroup.com.ar/images/secciones/catalogos.png"
                                              style="
                                                border: 0;
                                                display: block;
                                                outline: none;
                                                text-decoration: none;
                                                height: auto;
                                                width: 100%;
                                                font-size: 13px;
                                              "
                                              width="143"
                                            />
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 11px 0px 4px;
                                    word-break: break-word;
                                  "
                                >
                                  <div
                                    style="
                                      font-family: Ubuntu, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 11px;
                                      line-height: 1.5;
                                      text-align: center;
                                      color: #000000;
                                    "
                                  >
                                    <h3 style="line-height: 100%;">
                                      <span style="font-size: 16px;"
                                        >Revistas de art&#xED;culos
                                        destacados</span
                                      >
                                    </h3>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]>
                                  </td>
                                  <td
                                    class="" style="vertical-align:top;width:199.999998px;"
                                    >
                                    <![endif]-->
                        <div
                          class="mj-column-per-33 outlook-group-fix"
                          style="
                            font-size: 13px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            style="vertical-align: top;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 0px 0px 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="
                                      border-collapse: collapse;
                                      border-spacing: 0px;
                                    "
                                  >
                                    <tbody>
                                      <tr>
                                        <td style="width: 145px;">
                                          <img
                                            height="auto"
                                            src="http://www.altamiragroup.com.ar/images/secciones/listas.png"
                                            style="
                                              border: 0;
                                              display: block;
                                              outline: none;
                                              text-decoration: none;
                                              height: auto;
                                              width: 100%;
                                              font-size: 13px;
                                            "
                                            width="145"
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 11px 0px 4px;
                                    word-break: break-word;
                                  "
                                >
                                  <div
                                    style="
                                      font-family: Ubuntu, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 11px;
                                      line-height: 1.5;
                                      text-align: center;
                                      color: #000000;
                                    "
                                  >
                                    <h3 style="line-height: 100%;">
                                      <span style="font-size: 16px;"
                                        >Listas de precios en distintos
                                        formatos</span
                                      >
                                    </h3>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]>
                                  </td>
                                  <td
                                    class="" style="vertical-align:top;width:199.999998px;"
                                    >
                                    <![endif]-->
                        <div
                          class="mj-column-per-33 outlook-group-fix"
                          style="
                            font-size: 13px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            style="vertical-align: top;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 0px 0px 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="
                                      border-collapse: collapse;
                                      border-spacing: 0px;
                                    "
                                  >
                                    <tbody>
                                      <tr>
                                        <td style="width: 145px;">
                                          <img
                                            height="auto"
                                            src="http://www.altamiragroup.com.ar/images/secciones/tienda.png"
                                            style="
                                              border: 0;
                                              display: block;
                                              outline: none;
                                              text-decoration: none;
                                              height: auto;
                                              width: 100%;
                                              font-size: 13px;
                                            "
                                            width="145"
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 11px 0px 4px;
                                    word-break: break-word;
                                  "
                                >
                                  <div
                                    style="
                                      font-family: Ubuntu, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 11px;
                                      line-height: 1.5;
                                      text-align: center;
                                      color: #000000;
                                    "
                                  >
                                    <h3 style="line-height: 100%;">
                                      <span style="font-size: 16px;"
                                        >Cat&#xE1;logo digital y carrito de
                                        compras</span
                                      >
                                    </h3>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]>
                                  </td>
                                </tr>
                              </table>
                              <![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #ededed; background-color: #ededed; width: 100%;"
      >
        <tbody>
          <tr>
            <td>
              <!--[if mso | IE]>
              <table
                align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                >
                <tr>
                  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
              <div style="margin: 0px auto; max-width: 600px;">
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="width: 100%;"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 9px 0px 9px 0px;
                          text-align: center;
                          vertical-align: top;
                        "
                      >
                        <!--[if mso | IE]>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td
                                    class="" style="vertical-align:top;width:600px;"
                                    >
                                    <![endif]-->
                        <div
                          class="mj-column-per-100 outlook-group-fix"
                          style="
                            font-size: 13px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            style="vertical-align: top;"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td
                                  style="
                                    font-size: 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <!--[if mso | IE]>
                                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td height="50" style="vertical-align:top;height:50px;">
                                                    <![endif]-->
                                  <div style="height: 50px;">
                                    &#xA0;
                                  </div>
                                  <!--[if mso | IE]>
                                                  </td>
                                                </tr>
                                              </table>
                                              <![endif]-->
                                </td>
                              </tr>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    font-size: 0px;
                                    padding: 0px 0px 0px 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="
                                      border-collapse: collapse;
                                      border-spacing: 0px;
                                    "
                                  >
                                    <tbody>
                                      <tr>
                                        <td style="width: 216px;">
                                          <img
                                            height="auto"
                                            src="http://www.altamiragroup.com.ar/images/logos/logoaltamira.png"
                                            style="
                                              border: 0;
                                              display: block;
                                              outline: none;
                                              text-decoration: none;
                                              height: auto;
                                              width: 100%;
                                              font-size: 13px;
                                            "
                                            width="216"
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  align="left"
                                  style="
                                    font-size: 0px;
                                    padding: 15px 15px 15px 15px;
                                    word-break: break-word;
                                  "
                                >
                                  <div
                                    style="
                                      font-family: Ubuntu, Helvetica, Arial,
                                        sans-serif;
                                      font-size: 11px;
                                      line-height: 1.5;
                                      text-align: left;
                                      color: #000000;
                                    "
                                  >
                                    <p style="text-align: center;">
                                      Los precios y disponibilidad de los
                                      art&#xED;culos mencionados en este anuncio
                                      pueden variar sin previo aviso
                                    </p>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="
                                    font-size: 0px;
                                    word-break: break-word;
                                  "
                                >
                                  <!--[if mso | IE]>
                                              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td height="50" style="vertical-align:top;height:50px;">
                                                    <![endif]-->
                                  <div style="height: 50px;">
                                    &#xA0;
                                  </div>
                                  <!--[if mso | IE]>
                                                  </td>
                                                </tr>
                                              </table>
                                              <![endif]-->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]>
                                  </td>
                                </tr>
                              </table>
                              <![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
